/* resets */

* {
  margin: 0%;
  padding: 0%;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: #432818;
}

.header {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  padding-bottom: 5px;
  border-bottom: 3px solid aliceblue;
}

.header>a {
  text-decoration: none;
  color: aliceblue;
  font-family: sans-serif;
  font-size: 38px;
}

.header>.filtros {
  display: flex;
  justify-content: space-evenly;
}

.header>.filtros>a {
  text-decoration: none;
  color: aliceblue;
  font-family: sans-serif;
  padding: 10px;
}

.filtros>a:hover {
  background-color: #bb9457;
  border-radius: 16px;
}

.header>img {
  cursor: pointer;
  height: 20px;
  padding: 10px;
}

.header>img:hover {
  background-color: #bb9457;
  border-radius: 50%;
}

/* Catalogo */

.catalogo {
  margin-top: 50px;
  display: grid;
  grid-template-columns: auto;
  gap: 15px;
  width: 90%;
}

.producto {
  display: flex;
  align-items: center;
  background-color: rgba(153, 88, 42, 0.3);
  padding: 25px;
  border-radius: 25px;
}

.producto>img {
  max-width: 100px;
  border-radius: 10px;
}

.producto>.info {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-left: 15px;
  width: 100%;
  height: 100%;
}

.producto>.info>span {
  font-family: sans-serif;
  font-size: 1.5em;
  color: aliceblue;
}

.producto>.info>p {
  font-family: sans-serif;
  font-size: 1em;
  color: aliceblue;
}

.producto>.info>button {
  cursor: pointer;
  border: none;
  height: 40px;
  font-family: sans-serif;
  font-size: 1.5em;
  border-radius: 8px;
  background-color: #BB9457;
}